textarea{
    display: block;
    padding: 1rem;
    width: 80%;
    height: 20vh;
    margin: 2rem;
}
#output{
    border: 1px solid;
    width: 80%;
    height: 20vh;
    /* margin:auto; */
    /* margin-top: 1rem; */
    margin: 2rem;
    padding: 1rem;
}